body{
    padding:0;
    margin:0;
}

#myCanvas {
    background: transparent;
    width: 1600px;
    height: 983px;
}
#SpeedoMeter {
    border-right: 50px solid black;
    border-left: 50px solid black;
    background: none;
    width: 400px;
    height: 150px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#DashBoard {
    border-right: 50px solid black;
    border-left: 50px solid black;
    background: none;
    width: 400px;
    height: 150px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#SevenSegmentCanvas {
    background: transparent;
    width: 90px;
    height: 150px;
    position: absolute;
    left: 400px;
    bottom: 0px
}
#SpeedNumber {
    position: absolute;
    right: 200px;
    bottom: 100px;
}

::-webkit-scrollbar {
    display: none;
}
